
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(125, 9, 2);
}
h1 {
  font-size: 175%;
  margin: 30px;
  margin-bottom: 40px;
  text-align: center;
  font-family: serif;
  color: white;
  border:  1px solid rgb(125, 9, 2); 
}



/* Simple Responsive Framework. */
.row {
  border:  1px rgb(125, 9, 2);
  width: 100%;
}

.box{
  position: relative;
  border:  1px solid black;
  border-color: black;
  color: rgb(199, 0, 57);
  background-color:rgb(236, 214, 183) ;
  padding: 4% 3% 3% 3%;
  font-family: serif;
  font-weight: bold;
  
}

#tb1,#tb2,#tb3{
  border: 1px solid black;
  font-size: 125%;
  text-align: center;
  width: 30%;
  padding:0;
  position: absolute;  
  background-color: rgb(199, 0, 57);
  top: 0%;
  right: 0%;
  color:white;
}


/********** Desktop Version **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    border: 1px solid black thick;
    position: relative;
    width: 29.33%;
    
    margin-left: 3%;
}
}

/********** Tablet Version **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,.col-md-12 {
    float: left;
    border: 1px solid black;
    position: relative;
    margin-bottom: 2%;
  }      
  
  .col-md-6 {
    width: 47%;
    margin-left: 2%;

  }
  
  .col-md-12 {
    width: 96%;
    margin-left: 2%;
    top: 0%;
    right: 0%;
    
  }
}

/********** Mobile View **********/
@media (max-width: 767px) {
  .col-sm-12 {
    padding-top: 6%;
    float: left;
    border: 1px solid black;
    position: relative;
    margin:5%;
    margin-bottom: 2%; 
    width: 90%;
  }
}

